*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

a{
    color: #1259c3;
}

/*HEADDER

*/
.container-header{
    background-color: #EAC926;
    margin:0%;
    width: 100%;
    
}

.container-header-top{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3% 2%;
    
   
}

.container-header-top img{
    max-width: 50%;
    margin: 3% 3%;
    
}

.container-header-busqueda{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    box-sizing: border-box;
    margin: 3% 1%;
    
    
}

.container-header-busqueda-barra{
    
    width: 85%;
    margin-left: 2%;
}

.container-header-top-barra{
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid white;
}



.container-header-bottom{
    text-align: center;

}

.container-header-bottom-phrase{
    display: flex;
    justify-content: center;
    margin: 2% 1%;
}

.container-header-busqueda i{
    display: inline-block;
    background-color: white;
    width: 100%;
    border: 1px solid white;
}

.container-header-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-header-hamburger i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #0044AA;
    margin: 20px 20px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.barra-navegacion{
    display: none;
}

.container-header-hamburger i:hover{
    color: #0022AA;
}

.container-header-hamburger i:hover{
    cursor: grab;
}
.container-header-buttons{
    display: none;
    justify-content: center;
    margin-top: 1%;
    padding-bottom: 2%;
}

.container-header-buttons2{
    margin: 1% 1%;
    padding: 2px;
    border: 1px solid  #EAC926;
    border-radius: 5px;
}


/* Main
*/
.container-main{
    background-color: rgb(225, 228, 231);
}

.container-form-login {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container-main-forms{
    width: 100%;
}

.input-ingreso {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

.boton-ingreso-login {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #0044AA;
}

.boton-ingreso-login:hover {
    background-color:#0022AA
}
/*Footer
*/

.footer-box{
    background-color: white;
    margin: 5% 5%;
    font-size: 1.2em;
    text-align: center;
}

.footer-box p{
    
    color: #0044AA;
    margin: 2% 2%;
}
.footer-box h5{
    font-size: 1.2em;
    margin: 2% 0%;

}

@media (min-width: 768px) {
	.container-header {
		display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container-header-top{
        width: 70%;
    }
    .container-header-top img{
        width: 30%;
    }
    .container-header-busqueda{
        width: 70%;
    }
    .container-header-bottom{
        width:30%;
    }
    .container-header-hamburger{
        width: 100%;
    }

    .barra-navegacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }

    .barra-navegacion h4{
        display: none;
        width: 100%;
        text-align: center;
    }
    
    .container-header-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }

    
}


@media (min-width: 980px){
    .container-header {
		display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container-header-top{
        width: 80%;
    }
    .container-header-top img{
        width: 30%;
    }
    .container-header-busqueda{
        width: 70%;
    }
    .container-header-bottom{
        width:20%;
    }
    .container-header-hamburger{
        width: 100%;
    }

    .barra-navegacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }

    .barra-navegacion h4{
        display: none;
        width: 100%;
        text-align: center;
    }
    
    .container-header-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }

    


    /*Footer
    */

    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-box{
        width: 20%;
    }

}