*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

a{
    color: #1259c3;
}



/*HEADDER

*/
.container-header{
    background-color: #EAC926;
    margin:0%;
    width: 100%;
    
}

.container-header-top{
    
    width: 100%;
    padding: 1% 2%;
    
   
}

.container-header-top img{
    max-width: 50%;
    
}

.container-header-busqueda{
    display: flex;
    width: 50%;
    box-sizing: border-box;
    
    
}

.container-header-busqueda-barra{
    display: inline-block;
    width: 100%;
}

.container-header-top-barra{
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid white;
}

.container-header-busqueda i{
    display: flex;
   
}

.container-header-bottom{
    text-align: center;

}

.container-header h4{
    margin: 2% 1%;
}

.container-header-busqueda i{
    display: inline-block;
    background-color: white;
    width: 100%;
    border: 1px solid white;
}

.container-header-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-header-hamburger i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #0044AA;
    margin: 20px 20px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.barra-navegacion{
    display: none;
}

.container-header-hamburger i:hover{
    color: #0022AA;
}

.container-header-hamburger i:hover{
    cursor: grab;
}
.container-header-buttons{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    padding-bottom: 2%;
}

.container-header-buttons2{
    margin: 1% 1%;
    padding: 2px;
    border: 1px solid  #EAC926;
    border-radius: 5px;
}

/*MAIN
*/
.container-body-main{
    background-color: rgb(225, 228, 231);
}

.container-form-register{

    
    padding: 10px;
}

.container-form-forms{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

.container-usuario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




.container-form-text{
    width: 100%;
    font-size: 24px;
    margin: 4% 2%;

}

.container-form-check1{
    width: 50%;
    margin: 5%;

}

.container-form-text{
    font-size: 24px;
    margin: 4% 2%;


}

.container-form-check{
    margin: 5% 5%;
}

.container-form-check


.boton-ingreso-register-submit{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #0044AA;
}

.boton-ingreso-register-reset {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #0044AA;
}
.boton-ingreso-register-reset2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #0044AA;
}

.boton-ingreso-register:hover {
    background-color:#0022AA
}

.boton-ingreso-register-reset2:hover{
    background-color:#AA0044;
}



/* FOOTER
*/

.footer-box{
    background-color: white;
    margin: 5% 5%;
}