<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Home</title>
</head>
<body class="container-body">

    <header>
        
        <div> <img src="images/logo-mercado-liebre.svg" alt=""></div>
        <div> <h4>Buscar productos, marcas y más</h4></div>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>

        <div><p>BARRA DE NAVEGACIÓN</p></div>
        <div>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </div>

        <div>
            <button type="button" ><a href="http://localhost:3000/register">Crea tu cuenta</a> </button>
            <button>Ingresá</button>
            <button>Mis compras</button>
        </div>
        <div>
            <img src="images/img-home-banner.jpg" alt="">
        </div>
    </header>

    <main>
        <div><h2>Basado en tu última visita</h2></div>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </div>
        <div>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Mac">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10">
            <p>$70.500</p>
            <p>15% OFF</p>
            <p>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div>
            <img src="images\img-tv-samsung-smart.jpg" alt="tele">
            <p>$34.000</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
        </div>

        <div><h2>Ofertas</h2></div>
        <div>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </div>
        <div>
            <img src="images/img-macbook-pro-2019.jpg" alt="Mac">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="s10">
            <p>$70.500</p>
            <p>15% OFF</p>
            <p>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div>
            <img src="images/img-tv-samsung-smart.jpg" alt="tele">
            <p>$34.000</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
        </div>
       
    </main>

    <footer>
        <div>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <h5>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</h5>
            <h5>Envío gratis desde los $ 2.500</h5>
            <h5>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</h5>
            <h5>Seguridad, de principio a fin</h5>
            <h5>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</h5>
            <small>Copyright © 1999-2019 MercadoLiebre S.R.L.</small>
        </div>
    </footer>
    
</body>
</html>