<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Home</title>
</head>
<body class="container-body">

    <header class="container-header">
        
        <div class="container-header-top"> 
            <img src="images/logo-mercado-liebre.svg" alt="Logo">
            <div class="container-header-busqueda">
                <p class="container-header-busqueda-barra"><input class="container-header-top-barra" type="text" placeholder="Que estas buscando?" ></p>
                <p><i class="fas fa-search"></i></p>
            </div>
        </div>
        <dir class="container-header-bottom">
            <div class="container-header-bottom-phrase"> 
                <i class="fas fa-hand-point-right"></i>
                <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
            
            <div class="container-header-hamburger"><i class="fas fa-bars"></i></div>
            
        </dir>    
            
        <div class="barra-navegacion"> <h4>Buscar productos, marcas y más</h4></div>
        
        <div class="barra-navegacion">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </div>

        <div class="container-header-buttons">
            <button type="button" class="container-header-buttons2"><a href="http://localhost:3000/register">Crea tu cuenta</a> </button>
            <button type="button" class="container-header-buttons2"> <a href="http://localhost:3000/loggin"> Ingresá</a> </button>
            <button type="button" class="container-header-buttons2">Mis compras</button>
        </div>
    </header>
    
    <main class="container-main">
        <div class="container-main-banner">
            <img src="images/img-home-banner.jpg" alt="banner">
        </div>

        <div class="container-main-box">
                <div><h2  class="container-main-title">Basado en tu última visita</h2></div>
            <article class="container-main-product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$6.770</p>
                    <p class="container-main-prodcut-text-off">40% OFF</p>
                    <p>Cafetera Moulinex Dolce Gusto</p>
                </div>
            </article>
            <article class="container-main-product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Mac">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$230.000</p>
                    <p class="container-main-prodcut-text-off">20% OFF</p>
                    <p>Macbook Pro 2019 </p>
                </div>
            </article>
            <article class="container-main-product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$70.500</p>
                    <p class="container-main-prodcut-text-off">15% OFF</p>
                    <p>Teléfono móvil Samsung Galaxy S10 </p>
                </div>
            </article>
            <article class="container-main-product">
                <img src="images\img-tv-samsung-smart.jpg" alt="tele">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$34.000</p>
                    <p class="container-main-prodcut-text-off">5% OFF</p>
                    <p>SmartTv Samsung 43" </p>    
                </div>
            </article>

            <div ><h2 class="container-main-title">Ofertas</h2></div>
            <article class="container-main-product">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$6.770</p>
                    <p class="container-main-prodcut-text-off">40% OFF</p>
                    <p>Cafetera Moulinex Dolce Gusto </p>
                </div>
            </article>
            <article class="container-main-product">
                <img src="images/img-macbook-pro-2019.jpg" alt="Mac">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$230.000</p>
                    <p class="container-main-prodcut-text-off">20% OFF</p>
                    <p>Macbook Pro 2019 </p>
                </div>
                
            </article>
            <article class="container-main-product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="s10">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$70.500</p>
                    <p class="container-main-prodcut-text-off">15% OFF</p>
                    <p>Teléfono móvil Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="container-main-product">
                <img src="images/img-tv-samsung-smart.jpg" alt="tele">
                <div class="container-main-prodcut-text">
                    <div class="container-item"><i class="fas fa-truck"></i></div>
                    <p class="container-main-prodcut-text-price">$34.000</p>
                    <p class="container-main-prodcut-text-off">5% OFF</p>
                    <p>SmartTv Samsung 43" </p>
                </div>
                
            </article>
        </div>
        
       
    </main>

    <footer class="footer">
        <div  class="footer-box">
            <p><i class="fas fa-credit-card"></i></p>
            <h5 class="footer-text">Pagá con tarjeta o en efectivo</h5>
            <h6>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</h6>
        </div>
        <div class="footer-box">
                <p><i class="fas fa-truck"></i></p>
                <h5>Envío gratis desde los $ 2.500</h5>
                <h6>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</h6>

        </div>
            
        <div class="footer-box">
                <p><i class="fas fa-gift"></i></p>
                <h5>Seguridad, de principio a fin</h5>
            
                <h6>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</h6>
        </div>
            
        <div class="footer-box">
            <small>Copyright © 1999-2019 MercadoLiebre S.R.L.</small>
        </div>
    </footer>
    
</body>
</html>