<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/newsletter.css">
    <title>Newsletter</title>
</head>
<body>

    <header class="container-header">
        <img src="/images/logo-mercado-newsletter.svg" alt="logo" class="container-header-logo">
        <h1 class="container-header-title">Lorem ipsum dolor sit amet consectectur</h1>
        <br>
    </header>
    <div class="container-body">
        <div class="container-body-1">
            <p class="container-body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, earum voluptate. Deleniti voluptatem numquam debitis molestias. Deleniti quam recusandae mollitia corrupti rerum expedita iure voluptatibus. Modi, eum possimus fuga voluptates dolorum quis!</p>
            <p class="container-body-text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, earum voluptate. Deleniti voluptatem numquam debitis molestias. Deleniti quam recusandae mollitia corrupti rerum expedita iure voluptatibus. Modi, eum possimus fuga voluptates dolorum quis! Debitis!</p>
            <h4 class="container-body-subtitle">Lorem, ipsum dolor.</h4>
        </div>
        <div class="container-body-2">
            <img src="/images/banner_newsletter.png" alt="banner" class="container-body-banner">
            <h2 class="container-body-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <div class="container-body-link"><a href="http://localhost:3000/" >Lorem, ipsum.</a></div>
        </div>
        <div class="container-body-3">
            <h4 class="container-body-subtitle">Lorem, ipsum dolor.</h4>
            <h2 class="container-body-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p class="container-body-text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, earum voluptate. Deleniti voluptatem numquam debitis molestias. Deleniti quam recusandae mollitia corrupti rerum expedita iure voluptatibus. Modi, eum possimus fuga voluptates dolorum quis! Debitis!</p>
        </div>
        <div class="container-body-4">
            <ul class="container-body-list">
                <li ><a href="https://www.facebook.com/" class="container-body-list2">Facebook</a></li>
                <li class="container-body-list2"><a href="https://twitter.com/">Twitter</a></li>
                <li class="container-body-list2"><a href="https://www.instagram.com/">Instagram</a></li>
                <li class="container-body-list2"><a href="https://github.com/">Github</a></li>
            </ul>
            <p class="container-body-greetings"> Saludos,</p>
            <p class="container-body-greetings2"> Uri y Ale.</p>
        </div>
        <small class="body-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolochitecto ssumenda id voluptatem, veniam, ea consequuntur animi minus eveniet accusantium sunt! Impedit ea iusto illum blanditiis repellat!</small>
    </div>
    
</body>
</html>