<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Register</title>
</head>
<body class="container-body">

    <header class="container-header">
        
        <div class="container-header-top"> 
            <img src="images/logo-mercado-liebre.svg" alt="Logo">
            <div class="container-header-busqueda">
                <p class="container-header-busqueda-barra"><input class="container-header-top-barra" type="text" placeholder="Que estas buscando?" ></p>
                <p><i class="fas fa-search"></i></p>
            </div>
        </div>
        <dir class="container-header-bottom">
            <div class="container-header-bottom-phrase"> 
                <i class="fas fa-hand-point-right"></i>
                <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
            
            
            
        </dir>    
        <div class="container-header-hamburger"><i class="fas fa-bars"></i></div>
        <div class="barra-navegacion"> 
            <h4>Buscar productos, marcas y más</h4>
            
                <a href="">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            
        </div>
        
        

        <div class="container-header-buttons">
            <button type="button" class="container-header-buttons2"><a href="http://localhost:3000/register">Crea tu cuenta</a> </button>
            <button type="button" class="container-header-buttons2"> <a href="http://localhost:3000/loggin"> Ingresá</a> </button>
            <button type="button" class="container-header-buttons2">Mis compras</button>
        </div>
    </header>

    <main class="container-body-main">
        <div>
            <div class="container-form-register">
                <form action="register.html" method="POST">
                    <label for="nombre" id="nombre" name="nombre"></label>
                    <input class="container-form-forms" type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" class="container-body-form">

                    <label for="usuario" id="usuario" name="usuario"></label>
                    <input class="container-form-forms" type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" class="container-body-form">

                    <label for="email" id="email" name="email"></label>
                    <input class="container-form-forms" type="email" id="email" name="email" placeholder="Email" class="container-body-form">
                    
                    <p class="container-body-text">Fecha de nacimiento</p>

                    <label for="date" id="date" name="date"></label>
                    <input class="container-form-forms" type="date" id="date" name="date" class="container-body-form" >

                    <label for="addres" id="addres" name="addres"></label>
                    <input class="container-form-forms" type="text" id="addres" name="addres" class="container-body-form" placeholder="Domicilio" >

                </form>
            </div>

            <div class="container-form-register">
                <form action="register.html" method="POST">
                    <div class="container-usuario">
                        <p class="container-form-text">Perfil de usuario</p>
                        <p><input class="container-form-check1" type="radio" name="perfil" value="Comprador">Comprador</p>
                        <p><input class="container-form-check1" type="radio" name="perfil" value="Vendedor">Vendedor</p>
                    </div>
                    <div>
                        <p class="container-form-text">Intereses</p>
                        <p><label for="intereses"></label></p>
                        <p><input class="container-form-check" type="checkbox" name="intereses" value="cocinar">Cocinar</p>
                        <p><input class="container-form-check" type="checkbox" name="intereses" value="Deportes">Deportes</p>
                        <p><input class="container-form-check" type="checkbox" name="intereses" value="Musica">Musica</p>
                        <p><input class="container-form-check" type="checkbox" name="intereses" value="Electronica">Electronica</p>
                        <p><input class="container-form-check" type="checkbox" name="intereses" value="Ropa">Ropa</p>
                    </div>
                </form>
            </div>
            <div class="container-form-register">
                <p class="container-form-text">Elegi tu foto de usuario</p>
                <div class="container-form-seleccionarArchivo">
                    <button type="button" >Seleccionar archivo</button><p class="container-form-text">No se selecciono archivo</p>
                </div>
                <form action="register.html" method="POST">
                    <label for="password" name="password"></label>
                    <input class="container-form-forms" type="password" name="password" id="password" placeholder=" Contraseña" class="container-body-form">
                    <input class="container-form-forms" type="password" name="password" id="password" placeholder=" Confirma tu contraseña" class="container-body-form">
                    <button class="boton-ingreso-register-reset" type="submit">Enviar</button>
                    <button class="boton-ingreso-register-reset2" type="reset">Borrar</button>
                </form>
            </div>
            
            
        </div>

    </main>

    <footer class="footer">
        <div  class="footer-box">
            <p><i class="fas fa-credit-card"></i></p>
            <h5 class="footer-text">Pagá con tarjeta o en efectivo</h5>
            <h6>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</h6>
        </div>
        <div class="footer-box">
                <p><i class="fas fa-truck"></i></p>
                <h5>Envío gratis desde los $ 2.500</h5>
                <h6>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</h6>

        </div>
            
        <div class="footer-box">
                <p><i class="fas fa-gift"></i></p>
                <h5>Seguridad, de principio a fin</h5>
            
                <h6>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</h6>
        </div>
            
        <div class="footer-box">
            <small>Copyright © 1999-2019 MercadoLiebre S.R.L.</small>
        </div>
    </footer>
    
</body>
</html>